@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #333333;
    text-decoration: none;
}
/*
.game {
    position: relative;
	width: 242px;
    height: 402px;
    padding: 20px;
	margin: 0 auto;
	background-color: #D4D4D4;
	border-radius: 12px 12px 55px 12px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,.1) inset;
    background-image:
		url(../images/gameboy/text3.svg),
		
		linear-gradient(to right, #C8C7C5, #C8C7C5),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		radial-gradient(circle 4px, #C8C7C5 0%, #C8C7C5 99%, transparent),
		linear-gradient(to right, #C8C7C5, #C8C7C5),
		radial-gradient(circle 4px, #C8C7C5 0%, #C8C7C5 99%, transparent),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		linear-gradient(to bottom, #C8C7C5, #C8C7C5),
		radial-gradient(circle 4px, #C8C7C5 0%, #C8C7C5 99%, transparent),
		radial-gradient(circle 4px, #C8C7C5 0%, #C8C7C5 99%, transparent),
        linear-gradient(to right, #C8C7C5, #C8C7C5),
}

.screen {
    background-color: #ffffff;
}
    
*/
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

section h2 {
    font-weight: bold;
    font-style: 20px;
    text-align: center;
}

.enemy {
    margin-bottom: 20px;
}

.hpGauge {
    border: 1px solid #777777;
    margin-top: 10px;
}

.hpGaugeValue {
    height: 15px;
    background-color: aqua;
    transition: 0.3s;
    width: 100%;
}

.hp {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hp > div:first-of-type::after{
    content: '/';
    margin: 0 5px;
}

.logs {
    border: 1px solid #777777;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.8;
    height: 250px;
    overflow: auto;
    margin-top: 30px;
    box-shadow: 0 0 3px 0 #777 inset;
}

.attack {
    margin: 50px auto 0;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4444;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.attack.deactive {
    pointer-events: none;
    opacity: .5;
}
